/* Font name link */
 
.inter-font_primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* Share styles*/
    .btn_primary{
          background-color: rgb(70,145,101);
          color: white;
          padding:12.5px 16px ;
          border: none;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
    }
    .text_center{
        text-align: center;
    }
/* Nav bar styles */
.nav_bar{
      display: flex;
      justify-content: space-between;
      margin: 16px 120px ;

}
.nav_bar .list_item{
       display: flex;
       list-style: none;     
}
.list_items{
     margin-right: 32px;
}
/* banner styles start */
.banner_section{ 
    height: 674px;
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;  
     display: flex;
     justify-content: center;  
     align-items: center; 
}

.banner_top_btn{
        background: white;
        color:  rgb(70,145,101);
        border-radius: 20px;
        padding: 8px 12px;
        
        
}
 .banner_titel_font{
    font-weight: bold;
    font-size: 50px;
    
}
.banner_text{
     color: white;
}
.btn_secondary{
          background: transparent;
          color: white;
          padding:12.5px 16px ;
          border: white 1px solid;
          border-radius: 4px;
}
.btn_container{
      display: flex;
      justify-content: center;
}
.banner_titel_font{
     margin-top: 16px;
     margin-bottom: 0px;
}
.banner_big_titel{
    
    display: flex;
    justify-content: center;
}
.banner_text{
     margin-top:16px ;
}
.banner_btn_section{
      display: flex;
      justify-content: center;
      gap: 16px;
}
/*  Notes dont't fail section s1 start  */

.Notes_dont_fail_s1{
     
     height: 616px;
     margin: 0px 120px;

}
.section1_titel_text{
     font-weight: bold;
     font-size: 3rem;
}
.section1_sub-titel_text{
     font-weight: 400;
     font-size: 1rem;
     color: rgba(98, 115, 130, 1);
}
.card_container{
    height: 300px;
    max-width: 1360px;
    margin-top: 44px;
    display: flex;
    gap: 24px;
    
    
}
.card{
    height: 300px;
    width: 320px;
    text-align: center;
    border: 1px solid;  
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ffffff;

}
.img_box{
     
     height: 50px;
     width: 50px;
     background-color:#f95555 ;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.card_titel_text{
     margin-top: 16px;
     margin-bottom: 0px;
     font-weight:600;
     font-size: 2rem;
}
.card_sub_titel_text{
     margin-top: 16px;
     font-weight: 400;
     font-size: 1rem;
     color: rgba(98, 115, 130, 1);
}
/* your second brain section s2 styles start */

.your_second_brain{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 120px 120px;
      gap: 60px;
}
.mini_sub_title{
      color:rgb(70,145,101);
      font-weight: 500;
      font-size: 1rem;

}
.section2_title_text{
      font-weight: 700;
      font-size: 3rem;
}
.section2_text{
      font-weight: 400;
      font-size: 1rem;
      color:  rgba(98, 115, 130, 1);
}
.CheckCircle_container{
      margin-top: 60px;
}
.CheckCircle_container h5{
      display: flex;
      align-items: center;
      gap:6px;
      font-weight: 500;
      font-size: 1rem;
     
}