/* Font name link */
 
.inter-font_primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* Share styles*/
    .btn_primary{
          background-color: rgb(70,145,101);
          color: white;
          padding:12.5px 16px ;
          border: none;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
    }
    .text_center{
        text-align: center;
    }
/* Nav bar styles */
.nav_bar{
      display: flex;
      justify-content: space-between;
      margin: 16px 120px ;

}
.nav_bar .list_item{
       display: flex;
       list-style: none;     
}
.list_items{
     margin-right: 32px;
}
/* banner styles start */
.banner_section{ 
    height: 674px;
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;  
     display: flex;
     justify-content: center;  
     align-items: center; 
}

.banner_top_btn{
        background: white;
        color:  rgb(70,145,101);
        border-radius: 20px;
        padding: 8px 12px;
        
        
}
 .banner_titel_font{
    font-weight: bold;
    font-size: 50px;
    
}
.banner_text{
     color: white;
}
.btn_secondary{
          background: transparent;
          color: white;
          padding:12.5px 16px ;
          border: white 1px solid;
          border-radius: 4px;
}
.btn_container{
      display: flex;
      justify-content: center;
}
.banner_titel_font{
     margin-top: 16px;
     margin-bottom: 0px;
}
.banner_big_titel{
    
    display: flex;
    justify-content: center;
}
.banner_text{
     margin-top:16px ;
}
.banner_btn_section{
      display: flex;
      justify-content: center;
      gap: 16px;
}
