/* Share styles*/
    .btn_primary{
          background-color: rgb(70,145,101);
          color: white;
          padding:12.5px 16px ;
          border: none;
          border-radius: 4px;
    }
/* Nav bar styles */
.nav_bar{
      display: flex;
      justify-content: space-between;
      margin: 16px 120px ;

}
.nav_bar .list_item{
       display: flex;
       list-style: none;     
}
.list_items{
     margin-right: 32px;
}
